*{
	margin: 0;
	padding: 0;
	font-family: open sans;
}

body{
	background: #b8b894;

}

.container{
	max-width: 1200px;
	margin: 0 auto;
	/*background: white;*/
}
.head{
	background: black;
	height: 100%;

	/*position: relative;*/
}
.head::after{
	content: " ";
	clear: both;
	display: block;
}


.navi{
	float: right;
 }

.Home:hover{
	display: inline;
	animation-name: anime;
	animation-duration: 0.9s;
	
	animation-fill-mode: forwards;
}


@keyframes anime{
	from{ background-color: black}
	to{background-color: white}
	from{color: white}
	to{color: black}
}




.logo{
	float: left;
}

.navi ul li{
	display: inline-block;
}

a{
	padding: 10px 20px;
	text-decoration: none;
	color: #1a1a00;
	line-height: 3.2;
	color: white;
}


.navi ul li a:hover{
	color: #4d79ff;	 
}

.image{
	margin: 0px ;
	margin-right: 80px;
	margin-left: 80px;
	max-width: 100%;
	max-height: 100%;

}

.background{
	max-width: 100%;
	max-height: 100%;
}
.foot{
	background: black;
	text-align: center;
	color: white;
	margin-top: 0px;
	padding: 15px;
	margin-bottom: 20px;
}
.me{
	position: relative;
	left: 680px;
	top: 100%;
	bottom: 520px;
	border: 5px solid white;
	border-radius: 20px;
}
.me:hover{
	border:5px solid black;
}
.name{
	position: relative;
	top: -470px;
	left:365px;


	display:inline-block;
    font-family: 'Noto Serif', serif;
	font-weight: bold;
	font-size: 300%;
}
.name:hover{
	font-size: 305%;
}
.slogo{
	height: 55px;
	width: 55px;
	border-radius: 10px;

}

.social ul li{
	display: inline-block;
}
.social{
	position: relative;
	bottom: 460px;
	padding-left: 550px;
  
}




.mail{
	position: relative;
	bottom: 460px;
	height: 30px;
	width: 40px;
	padding-left: 680px;
}

.mail:hover,.slogo:hover{
	filter: brightness(140%);
}

.maild{
	position: relative;
	bottom: 490px;
	padding-left: 725px;
	margin-bottom: 0px;
}